.btn-clipboard {
  position: absolute;
  top: .5rem;
  right: .5rem;
  /* z-index: 1; */
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color:
    #818a91;
  cursor: pointer;
  background-color:
    transparent;
  border: 0;
  border-radius: .25rem;
}
